- provide(:title, 'Login')
%h1 Login

.row
  .span6.offset3
    = form_for(:session, url: sessions_path) do |f|
      = f.email_field :email, placeholder: 'Email Address'
      = f.password_field :password, placeholder: 'Password'

      = f.submit "Log In", class: 'btn btn-large btn-primary'
    %p New User? #{link_to "Join" , join_path}